REDIS_URL=redis://redis:6379/1
RDS_HOSTNAME=postgres
RDS_PORT=5432
RDS_DB_NAME=app
RDS_USERNAME=postgres
RDS_PASSWORD=password
APP_NAME=star-wars-resources
STAGE=development
API_URL=http://localhost:1337
SWAPI_BASE_URL=https://swapi.py4e.com/api/
GET_SWAPI_RESOURCE_SCHEDULE_TIME=* * * * *
